{#
/**
 * @file
 * Default theme implementation to display a TOC field.
 *
 * This template only exists to let you wrap this field's output
 * in whichever markup you want.
 *
 * The TOC itself can be themed by overriding the templates provided
 * by the toc_api module.
 *
 * Available variables:
 * - toc: The rendered TOC.
 *
 * @ingroup themeable
 */
#}
{{ toc }}